<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>study.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/servlet/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/1.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/2.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/3.php</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/4.ASPX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>study.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/servlet/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <servlet-class>study.servlet.ServletConfigDemo1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>wangxiang</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigDemo1</servlet-name>
    <url-pattern>/servlet/ServletConfigDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>study.servlet.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/servlet/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>study.servlet.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/servlet/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletContextDemo3</servlet-name>
    <servlet-class>study.servlet.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo3</servlet-name>
    <url-pattern>/servlet/ServletContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletContextDemo4</servlet-name>
    <servlet-class>study.servlet.ServletContextDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo4</servlet-name>
    <url-pattern>/servlet/ServletContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>study.servlet.ResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/servlet/ResponseDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>study.servlet.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/servlet/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>study.servlet.RequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/servlet/RequestDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieDemo01</servlet-name>
    <servlet-class>study.cookie.CookieDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo01</servlet-name>
    <url-pattern>/cookie/CookieDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieDemo02</servlet-name>
    <servlet-class>study.cookie.CookieDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDemo02</servlet-name>
    <url-pattern>/cookie/CookieDemo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionDemo1</servlet-name>
    <servlet-class>study.session.SessionDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo1</servlet-name>
    <url-pattern>/session/SessionDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>study.session.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/session/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>study.session.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/session/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListCartServlet</servlet-name>
    <servlet-class>study.session.ListCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCartServlet</servlet-name>
    <url-pattern>/session/ListCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoFormServlet</servlet-name>
    <servlet-class>study.session.DoFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoFormServlet</servlet-name>
    <url-pattern>/session/DoFormServlet</url-pattern>
  </servlet-mapping>
</web-app>